node_modules/
node_modules.old/
dist/
.npm-cache/
sessions/
.env
.env.local
*.db
*.db-journal
prisma/dev.db
prisma/dev.db-journal
logs/
*.log
.DS_Store
.vscode/
.idea/
coverage/
.vercel/
.firebase/
.firebaserc.local
.vscode-test/
.pnp
.pnp.js
.yarn/install-state.gz
.tool-configs/
deploy.log


.vercel
.env*
